
@font-face{
    font-family:"Suisse";
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.eot?#iefix");
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.eot?#iefix") format("eot"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.svg") format("svg"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.woff2") format("woff2"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.woff") format("woff"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Light-WebXL.ttf")  format("truetype");
    font-weight: 300;
}

@font-face{
    font-family:"Suisse";
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.eot?#iefix");
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.eot?#iefix") format("eot"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.svg") format("svg"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.woff") format("woff"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Regular-WebXL.ttf")  format("truetype");
    font-weight: 400;
}

@font-face{
    font-family:"Suisse";
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.eot?#iefix");
    src:url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.eot?#iefix") format("eot"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.svg") format("svg"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.woff2") format("woff2"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.woff") format("woff"),
        url("https://www.nak-tuttlingen.de/static/themes/nak_sued/suisse/SuisseIntl-Medium-WebXL.ttf")  format("truetype");   
    font-weight: 500;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Suisse", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 18px;
    color: #111;
    background: #5793C9;
    font-weight: 300;
    font-size: 15px;
    overflow-y: scroll;
}

small {
 
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
}

strong {
    font-weight: 500;
}

blockquote {
    border-left: 3px solid #eee;
    padding: 18px 0 18px 21px;
}

p,li,blockquote {
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a, a:visited {
    color: #5793C9;
    text-decoration: none;
}

a p {
    color: #111; 
}

.container {
    background: #fff;   
}

.grid-parent-left {
    padding-left: 0;
    
}

.grid-parent-right {
    padding-right: 0;
    
}

.extrablock {
  background: #eee;
  padding: 5px;
}

ul.extrablock li, 
ol.extrablock li {
    margin-left: 25px;
}

span.extrablock {
    display: inline-block;
    margin: 5px 0;
}

p.interview {
  border-left: 1px solid #ccc;
  padding: 5px;
}

ol {
    padding-left: 18px;
    margin-left: 9px;
    padding-bottom: 9px;
}

ul { 
    list-style: square;
    padding-left: 18px;
    margin-left: 9px;
    padding-bottom: 9px;
}

p {
  margin-bottom: 9px;   
}

img.mfp-img  {
 background: #fff;   
}
